*{
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-out;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 14px 18px;
}

.startup{
    color: #1E0E62
}
.header-content a{
    text-decoration: none;
    color:#15143966;
    font-size: 18px;
    margin: 14px;
    float: left;
}
.btn{
    margin-top: 15px;
}

.btn a{
    padding: 8px 14px;
    margin: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: #15143966;
    margin-top: 10px;
    text-decoration: none;
}

 .btn a:hover{
    background-color:#25DAC5;
}
.container-1{
    color:#1E0E62;
    font-size: 74px;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
}
.content{
    color:#15143966 ;
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
}
.bottom {
    padding: 12px 18px;
    margin-left: 43%;
    margin-top: 45px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: rgb(15, 14, 14);
    background-color: #25DAC5;
    width: 15%;
}
.bottom a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
}
.learn-more{
    margin-top: 20px;
}
.learn-more a{
    text-align: center;
    margin-left: 50%;
    color: #25DAC5;
    text-decoration: none;
}

.next{
    background-color:#25DAC5;
    padding: 8px 18px;
    border-radius: 20px;
    width: 6%;
    margin-top: 20px;
    margin-left: 70%;
}
.next a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}
 
 